*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background: #000;
    color: #fff;
}
html{
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.header{
    width: 100%;
    height: 130vh;
    background-image:linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(netflix-img/images/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
    
    

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    width: 9.3rem;
    cursor: pointer;
}
nav button{
    border: 0;
    outline: 0;
    background-color: #fff;
    color: #000;
    padding: 7px 20px;
    font-size: 1rem;
    border-top-left-radius: 30px 100%;
    border-bottom-left-radius:  30px 100%;
    border-top-right-radius: 30px 100%;
    border-bottom-right-radius: 30px 100%;
    margin-left: 5px;
    cursor: pointer;
    height: 35px;
    font-weight: 600;
}
nav button:hover{
    background-color: #cecacada;
}
.header_content{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
   
}

.header_content h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600px;
    max-width: 650px;
}

.header_content h3{
    font-weight: 400;
    margin-bottom: 20px;
}
.header_content .sign_up{
    background: transparent;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
    margin-right: 5px;

}
.sign_up input{
    flex: 1;
    border: 1px solid grey;
    outline: 0;
    margin: 0 10px;
    height: 58px;
    padding: 15px;
    border-top-left-radius: 48px 100%;
    border-bottom-left-radius:  48px 100%;
    border-top-right-radius: 48px 100%;
    border-bottom-right-radius: 48px 100%;
    background: rgba(26, 25, 25, 0.7);
}

.sign_up button{
    background-color: #db0001;
    border: 0;
    outline: 0;
    height: 58px;
    width: 180px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    padding: 15px 30px;
    border-top-left-radius: 48px 100%;
    border-bottom-left-radius:  48px 100%;
    border-top-right-radius: 48px 100%;
    border-bottom-right-radius: 48px 100%;
}

.curve{
    content: '';
    position: absolute;
    top: 21px;
    right: 0;
    bottom: -83px;
    left: 0;
    z-index: -1;
    margin-top: -.25rem;
    border-radius: 50% 50%;
    background: linear-gradient(to right,rgba(0,0,0), rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%,rgba(0,0,0));
}
.curved-bar{
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    height: 6.25rem;
    z-index: 1;
    bottom: 95px;
    border-radius: 50% 50% 0 0;
}
.shadow{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    position:relative;
    height: 100%;
    top:19px;
    align-items: center;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border-bottom: none;
    background: linear-gradient(35deg, #000 , rgba(0, 0, 0));
}
.curve-container{
    height: 86px;
}

.features{
    width: 100%;
    max-width: 120rem;
    margin: 0;
    z-index: 2000;
    box-sizing: border-box;
    position: relative;
    bottom: 118px;
    border-radius: 27% 9% 0 0;
    background: #000;
    margin: 3%;
   
}
.img_col img{
    height: 150px;
}
.row{
    display: flex;
    width: 88%;
    position: relative;
    bottom: 8%;
    flex-direction: column;
    margin: 0 0 6% 10%;
}
.text_col h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px #333;
}
.slider1,.slider2 {
    position: relative;
    width: 94%;
    overflow: hidden;
    border: none;
}

.slider-container {
    overflow: hidden;
    border: none;
    outline: none;
    padding: 3% 0;
}

.slider-content {
    display: flex;
    transition: transform 0.4s ease-in;
    
}

.slider1 .movie,.slider2 .movie{
    min-width: 200px;
    height: 300px;
    margin: 0 10px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 5%;
    overflow-y: visible;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
    transition: transform 0.3s ease;
    cursor: pointer;
   
}
.movie:hover{
    transform: scale(1.1);
}
.reasons{
    display: flex;

}
.reasons .first_reason{
    height: 150px;
    width: 250px;
    margin: 0 10px;
    background-color: #333;
    font-size: 1rem;
    border-radius: 10%;
    padding: 10px;
    display: flex;
}
.reasons span{
    width: 75%;
    font-size: -0.1rem;
    font-weight: 700;
}
.reasons i{
    position: relative;
    top: 79%;
    left: 12%;
    font-size: 25px;
    background: linear-gradient(to right, rgba(184, 40, 105, 1), rgba(229, 9, 20, 0.7), rgba(184, 40, 105, 1), rgba(129, 22, 124, 0.6) 84%,rgb(160, 66, 184));
     background-clip: text;
     -webkit-text-fill-color: transparent;

}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1;
    box-shadow: 1px 1px 2px #000;
    height: 65px;
    border-radius: 15px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}
.faq h2{
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    margin-left: 3%;
    
}
.questions{
    margin: 15px auto 30px auto;
    width: 100%;
    max-width: 980px;
}
.questions li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.questions li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: tranform 0.3s;
}
input[type="radio"]{
    display: none;
}
.questions .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition:max-height 0.5s padding 0.5s;
    border-radius: 10px;
}
.questions input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}
.questions input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}
#sticky-btn{
    text-align: center;
    padding: 10px;

}
#sticky-btn button{
    border-top-left-radius: 48px 100%;
    border-bottom-left-radius:  48px 100%;
    border-top-right-radius: 48px 100%;
    border-bottom-right-radius: 48px 100%;
    position: sticky;
    z-index: 2000;
    bottom: 40px;
    right: 45%;
    transition: position o.3s ease-in-out,
    bottom 0.3s ease-in-out;
}
.sticky{

    position: fixed;
    z-index: 2000;
    bottom: 40px;
    right: 45%;
}

footer{
    padding: 3% 14%;
    display: flex;
    flex-direction: column;
    color:whitesmoke;
    justify-content: space-between;
    height:auto;
    font-size: 15px;
}
footer a{
    color: #bdbcbc;
    margin-bottom: 20px;
}
footer div{
    padding: 20px 5px;
}
.ft-link{
    font-size: 17px;
}
.ft-btn{
    text-align: center;
    border: 2px solid whitesmoke;
    width: 14%;
    padding: 3px;
    border-top-left-radius: 42px 100%;
    border-bottom-left-radius:  42px 100%;
    border-top-right-radius: 42px 100%;
    border-bottom-right-radius: 42px 100%;
    visibility: hidden;;
}
.lang_btn{
    visibility: visible;
    width: 100%;
    height: 100%;
    color: #bdbcbc;
    display: inline-flex;
    align-items: center;
    border: 1px solid #bdbcbc;
    background: transparent;
    padding: 7px 10px;
    border-top-left-radius: 35px 100%;
    border-bottom-left-radius:  35px 100%;
    border-top-right-radius: 35px 100%;
    border-bottom-right-radius: 35px 100%;
    font-weight: 700;
}
.lang_btn .down-icon{
    width: 10px;
    margin-left: 5px;
}
.svg{
    height: 20px;
    margin-right: 5px;
    width: 30px;
}

.more-links{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.lnk-col{
    display: flex;
    flex-direction: column;
    padding: 0;
}
.brand{
    margin: 2% 0;
    color: #bdbcbc;
}
/*------------------signIn--------------*/
.sign_in{
    display: flex;
    background: linear-gradient(45deg,rgb(0,0,0),transparent);
    flex-direction: column;
    align-items: start;
    width: 40%;
    height: 80%;
    box-shadow: 3px 3px 6px #000;
    margin: 3% 30%;
    padding: 0 7%;
    border-radius: 10px;
}
.sign_in h2{
    margin: 45px 0 20px 0;
    font-size: 2rem;
}
.sign_in input{
    height: 60px;
    width: 100%;
    margin-bottom:15px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    outline: 0;
    background: rgba(26, 25, 25, 0.7);

}
.sign_in button{
    border: 0;
    outline: 0;
    border-radius: 5px;
    height: 45px;
    width: 100%;
    margin-bottom:15px;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
}
.sign_in .check{
    display: flex;
    margin: 25px 0 5%;
}
.sign_in .check #remember{
    height: 20px;
    width: 40px;
    margin-left: 0;
    border: 1px solid grey;
    outline: 0;
    background: rgba(26, 25, 25, 0.7);
}

.sign_in div label{
    font-size: 16px;
}
.sign_in div label::after{
    content: '';
}

.sign_in a{
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding-left: 2px;
}
.sign_in a:hover{
    text-decoration: underline;
}
.sign_in span{
    margin-bottom: 15px;
}
.learn{
    position: relative;
    top: 30px;
    font-size: 12px;
    color: #747171b2;
}