*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background: #000;
    color: #fff;
}
html{
    overflow: scroll;
    scroll-behavior: smooth;
}
.header{
    width: 100%;
    height: 130vh;
    background-image:linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(netflix-img/images/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
    
    

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    width: 9.3rem;
    cursor: pointer;
}
nav button{
    border: 0;
    outline: 0;
    background-color: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 0.73rem;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}
.lang_btn{
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
}
.lang_btn img{
    width: 10px;
    margin-left: 10px;
}
.header_content{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
   
}

.header_content h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600px;
    max-width: 650px;
}

.header_content h3{
    font-weight: 400;
    margin-bottom: 20px;
}
.header_content .sign_up{
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}
.sign_up input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
    background: transparent;
}
.sign_up button{
    background-color: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
}
.curve{
    content: '';
    position: absolute;
    top: 21px;
    right: 0;
    bottom: -83px;
    left: 0;
    z-index: -1;
    margin-top: -.25rem;
    border-radius: 50% 50%;
    background: linear-gradient(to right,rgba(0,0,0), rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%,rgba(0,0,0));
}
.curved-bar{
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    height: 6.25rem;
    z-index: 1;
    bottom: 95px;
    border-radius: 50% 50% 0 0;
}
.shadow{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    position:relative;
    height: 100%;
    top:19px;
    align-items: center;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border-bottom: none;
    background: linear-gradient(35deg, #000 , rgba(0, 0, 0));
}
.curve-container{
    height: 86px;
}

.features{
    width: 100%;
    max-width: 120rem;
    margin: 0;
    z-index: 2000;
    box-sizing: border-box;
    position: relative;
    bottom: 118px;
    border-radius: 27% 9% 0 0;
    background: #000;
    margin: 3%;
   
}
.img_col img{
    height: 150px;
}
.row{
    display: flex;
    width: 88%;
    position: relative;
    bottom: 8%;
    flex-direction: column;
    margin: 0 0 6% 10%;
}
.text_col h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px #333;
}
.slider {
    position: relative;
    width: 94%;
    overflow: hidden;
    border: none;
}

.slider-container {
    overflow: hidden;
    border: none;
    outline: none;
}

.slider-content {
    display: flex;
    transition: transform 0.4s ease;
}

.movie{
    min-width: 200px;
    height: 300px;
    margin: 0 10px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 3%;
}
.reasons{
    display: flex;

}
.reasons .first_reason{
    height: 150px;
    width: 250px;
    margin: 0 10px;
    background-color: #333;
    font-size: 1rem;
    border-radius: 10%;
    padding: 10px;
    display: flex;
}
.reasons span{
    width: 75%;
    font-size: -0.1rem;
    font-weight: 700;
}
.reasons i{
    position: relative;
    top: 79%;
    left: 12%;
    font-size: 25px;
    background: linear-gradient(to right, rgba(184, 40, 105, 1), rgba(229, 9, 20, 0.7), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%,rgba(0,0,0));
     background-clip: text;
     -webkit-text-fill-color: transparent;

}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1;
    box-shadow: 1px 1px 2px #000;
    height: 65px;
    border-radius: 15px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
